{% extends 'home/base.html' %}

{% block title %}Mystek - NPC:Help{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.page-title-box {
		margin: 0 auto;
		width: auto;
		height: 95%;
		float: top;
	}
	.div-info-panel {
		margin: 0 auto;
		width: 80%;
		height: auto;
		float: top;
		background-color: #87CEFA;

	}
	.div-panel-title .div-panel-img .div-panel-info {
		margin: 0 auto;
		width: 90%;
		height: auto;
		float: top;
		background-color: #87CEFA;
	}
	.panel-image {
		max-width: 100%;
		max-height: 100%;
	}
	.panel-header {
		text-align: center;
	}
	.p-lalign {
		text-align: left;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br>
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'npc:npc_create' %}">
					Create NPC
				</a>
			</li>
		</ul>
	</div>
	<div class="page-title-box">
		<h1 style="font-size: 300%;">NPC Help</h1>
	</div>
	<div class="div-info-panel" id="gen-name">
		<!-- for name -->
		<div class="div-panel-title">
			<h2 class="panel-header">Unique ID's</h2>
		</div>
		<div class="div-panel-info">
			<!-- basic info -->
			<p class="p-lalign">This (and other aspects) has been answered <a target="_blank" href="{% url 'achiev:achiev_help' %}#gen-uid">here&#x21D7;</a>. Check it out.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-itype">
		<div class="div-panel-title">
			<h2 class="panel-header">Item Type</h2>
		</div>
		<div class="div-panel-info">
			<p class="l-align">This (and other aspects) has been answered <a target="_blank" href="{% url 'armwep:armwep_help' %}#item-types-and-targets">here&#x21D7;</a>. Check it out.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel">
		<div class="div-panel-title">
			<h2 class="panel-header">Character Spawn World</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-npc-spawn-world.png" alt="Character Spawn World" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">The spawn world is the level which the NPC will spawn at. The code is written in LEVEL-FLOOR format; example: <strong>W0-1</strong>. The codes correspond to:</p>
			<ul>
				<li>Tutorial Level: <strong><code>W0</code></strong></li>
				<li>Castle Level: <strong><code>W1</code></strong></li>
				<li>Forrest Level: <strong><code>W2</code></strong></li>
				<li>Cavern Level: <strong><code>W3</code></strong></li>
				<li>Maze Level: <strong><code>W4</code></strong></li>
				<li>Library Level: <strong><code>W5</code></strong></li>
				<li>Abyss Level: <strong><code>W6</code></strong></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="div-info-panel">
		<div class="div-panel-title">
			<h2 class="panel-header">Character Dialog</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-npc-chrdialog.png" alt="Character Dialog" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">Character Dialog is what the NPC will say to the player character's when interacted with. There lines should be separated by newlines (hitting enter on the keyboard), and dialog should exist between double-quotes (as in the image).</p>

			<p class="p-lalign">Responses to character dialog choices can also be written in: the options should be separated by 2 percent signs ( <strong>%%</strong> ) between the question and response, and 2 dollar signs ( <strong>$$</strong> ) between responses. Example:</p>

			<p class="p-lalign"><strong><em>"Do you have a potion? I need one."%%"Yes"::"Thanks"$$"No"::"Darn."</em></strong></p>

			<p class="p-lalign">Symbols explained:</p>

			<ul>
				<li><strong>%%</strong> Separates a question from the responses</li>
				<li><strong>$$</strong> Separates one response from another (ie: a "Yes" repsonse from a "No" response).</li>
				<li><strong>::</strong> This symbol <em>maps</em> a Player's repsonse (of say, "Yes") to an NPC's response to that response.</li>
			</ul>
		</div>
	</div>
	<br>
	<div class="div-info-panel">
		<div class="div-panel-title">
			<h2 class="panel-header">Reward Items &#47; Triggers</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-npc-ri.png" alt="Reward Items" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">Reward Items are items which the NPC will award to the player wehn a trigger is met. The Rewardable Items box does not allow for quantity specification, so if 3 of an item are to be awarded, indicate so in the description.</p>

			<p class="p-lalign">The Trigger is a flag  that will trigger the NPC giving the Rewardable Items to the player. The trigger is separated by a colon and consists of ITEM:CONDITION.</p>

			<p class="p-lalign">The items and conditions are as follows:</p>

			<h4>ITEM</h4>
			<p class="p-lalign">All items are given by their <a target="_blank" href="{% url 'achiev:achiev_help' %}#gen-uid">Unique ID&#x21D7;</a>. Acceptable UID's here are: Items, KeyItems and Party member codes; also World Codes are acceptable (given above).</p>

			<h4>CONDITION</h4>
			<p class="p-lalign">Coditions can be a quantity amounts (1-99, etc); also some predefined codes are acceptable. Examples:</p>

			<ul>
				<li><strong>W_END</strong> | indicates that a world is completely finished.</li>
				<li><strong>P_NUL</strong> | indicates that no party members were ever recruited.</li>
				<li><strong>PM_NUL</strong> | indicates that a given party member was never recruited.</li>
				<li>Etc.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
