{% extends 'home/base.html' %}

{% block title %}Mystek - Login{% endblock %}

{% block local_style %}
<style type="text/css">
	body{
		background-color: #F6E3E3;
	}
	.container-main {
		width: 100%;
		height: auto;
		overflow: auto;
		background-color: #F6E3E3;
	}
	.div-tfloat {
		float: top;
		margin: 0 auto;
		background-color: #D9D9E9;
	}
	.login-form {
		text-align: center;
	}
</style>
{% endblock %}

{% block content %}
	<br><br><br><br>
	<div class="container-main">
		<div class="div-tfloat">
			<form class="login-form" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Login</button>
				<p>Can't remeber your password? <a href="{% url 'password_reset' %}">Reset</a> it.
			</form>
			<br><br><br>
		</div>
	</div>
{% endblock %}
