{% extends 'home/base.html' %}

{% block content %}
  <br><br><br>
  <h3>Forgot Password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}