{% extends 'home/base.html' %}

{% block title %}Mystek - User - Password Reset - Confirm{% endblock %}

{% block content %}
<br><br><br>
<h1>Change Password</h1>
{% if validlink %}
<form class="form-body" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Save Changes</button>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}
