{% extends 'home/base.html' %}

{% block title %}Mystek - {{ item.name }}{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main	{
		width: 100%;
		height: 100%;
	}
	.container-sub {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.story-title {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-title-left {
		width: 75%;
		height: auto;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.div-title-right {
		width: 19%;
		height: auto;
		float: left;
	}
	.div-content {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-bin-master {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		border: 1px solid black;
		background-color: #E6E6FA; /* lavender */
	}
	.div-bin-panel {
		width: 49%;
		height: auto;
		margin: 0 auto;
		float: left;
		text-align: left;
		background-color: #E6E6FA; /* lavender */
	}
	.pos-val {
		font-size: 120%;
		background-color: #90EE90; /* light green */
	}
	.neg-val {
		font-size: 120%;
		background-color: #FFB6C1; /* light pink */
	}
	.zro-val {
		font-size: 120%;
		background-color: #D3D3D3; /* light gray */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV_NOTES

# DJANGO_NOTES

#}

{% block content %}
<div class="container-main">
	<!-- sub container, which will only go to 95% width -->
	<br><br><br>
	<div class="options">
		<p style="padding: 0; margin: 0; float: left;"><a href="{% url 'stateff:stateff_list' %}">&lt;back</a></p>
		<p style="padding: 0; margin: 0; float: right;"><a href="{% url 'stateff:stateff_edit' uid=item.unique_id %}">edit&gt;</a></p>
	</div>
	<br>
	<hr>
	<div class="container-sub">
		<!-- title goes here -->
		<div class="story-title">
			<div class="div-title-left">
				<h1>{{ item.name }}</h1>
				<p>{{ item.abst_type }}</p>
			</div>
			<div class="div-title-right">
				<h2><em>{{ item.unique_id }}</em></h2>
			</div>
		</div>
		<div class="div-content">
			<q><strong><em>{{ item.in_game_description|linebreaks }}</em></strong></q>
			<br>
			<div class="div-bin-master">
				<div class="div-bin-panel">
					<p><strong>Duration: <em>{{ item.duration }}</em></strong></p>
				</div>
				<div class="div-bin-panel">
					<p><strong>Target: <em>{{ item.target }}</em></strong></p>
				</div>
			</div>
			<div class="div-bin-master">
				<p><strong>Status Effect Value: <em>{{ pol_sym }}{{ item.effect_value }}</p>
			</div>
			<hr>
			<p>{{ item.description|linebreaks }}</p>
		</div>
	</div>
</div>
{% endblock %}
