{% extends 'home/base.html' %}

{% block title %}Mystek - Status Effect - Create{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
	}
	.form-header {
		font-size: 200%;
		padding: 0;
		color: red;
	}
	.form-body {
		width: 95%;
		height: auto;
		margin: 0 auto;
		text-align: center;
		background-color: #808080; /* gray */
	}
</style>
{% endblock %}

{% block local_script %}<script type="text/javascript"></script>{% endblock %}

{% block content %}
<br><br><br>
<div class="container-main">
	<p style="text-align: left; padding: 0; margin: 0;"><a href="{% url 'stateff:stateff_list' %}">&lt;back</a></p>
	<hr>
	<h1 class="form-header"><center>Project Wyrd: Status Effect</center></h1>
	<div class="story-how-to">
		<p><center>What data is needed? See the <a href="{% url 'stateff:stateff_help' %}">How-To</a> page for Status Effects.</center></p>
	</div>
	<form class="form-body" method="post" enctype="multipart/form-data">
		{% if edit_model %}
		<h2 style="color: red;">EDIT</h2>
		{% endif %}
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</div>
{% endblock %}
