{% extends 'home/base.html' %}

{% block title %}Mystek - Items:Help{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.page-title-box {
		margin: 0 auto;
		width: auto;
		height: 95%;
		float: top;
	}
	.div-info-panel {
		margin: 0 auto;
		width: 80%;
		height: auto;
		float: top;
		background-color: #87CEFA;

	}
	.div-panel-title .div-panel-img .div-panel-info {
		margin: 0 auto;
		width: 90%;
		height: auto;
		float: top;
		background-color: #87CEFA;
	}
	.panel-image {
		max-width: 100%;
		max-height: 100%;
	}
	.panel-header {
		text-align: center;
	}
	.p-lalign {
		text-align: left;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br>
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'item:item_create' %}">
					Create Item
				</a>
			</li>
		</ul>
	</div>
	<div class="page-title-box">
		<h1 style="font-size: 300%;">Items Help</h1>
	</div>
	<div class="div-info-panel" id="gen-name">
		<!-- for name -->
		<div class="div-panel-title">
			<h2 class="panel-header">Unique ID's</h2>
		</div>
		<div class="div-panel-info">
			<!-- basic info -->
			<p class="p-lalign">This (and other aspects) has been answered <a target="_blank" href="{% url 'achiev:achiev_help' %}#gen-uid">here&#x21D7;</a>. Check it out.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-itype">
		<div class="div-panel-title">
			<h2 class="panel-header">Item Type</h2>
		</div>
		<div class="div-panel-info">
			<p class="l-align">This (and other aspects) has been answered <a target="_blank" href="{% url 'armwep:armwep_help' %}#item-types-and-targets">here&#x21D7;</a>. Check it out.</p>
	</div>
	<br>
</div>
{% endblock %}
