{% extends 'home/base.html' %}

{% block title %}{{ article.title|truncatechars:20}}{% endblock %}

{% block local_meta %}
<meta name="keywords" content="software; news; updates; python; projects; programming; information; pygame; coders; writers; artists; musicians; {{ article.keywords }}">
{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
	}
	.container-sub {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.div-article-title {
		width: 95%;
		height: 40px;
		margin: 0 auto;
		float: top;
		background-color: #FFF8DC; /* cornsilk */
		text-align: center;
	}
	.art-title-adj {
		font-size: 150%;
		padding: 10px 0px;
	}
	.div-art-image {
		width: 100%;
		height: auto;
		float: top;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0 auto;
	}
	.article-image {
		max-width: 100%;
		max-height: 100%;
	}
	.div-content {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
	}
	.p-art-unavail {
		font-size: 150%;
		text-align: center;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV NOTES:
01: the title box of the article; title, user, date
#}


{% block content %}
<div class="container-main">
	<br><br><br>
	{% if logged_in or is_avail%}
	<p style="padding: 0; margin: 0; float: left;"><a href="{% url 'site_news:index' %}">&lt;back</a></p>
	<p style="padding: 0; margin: 0; float: right;"><a href="{% url 'site_news:edit_article' slug=article.slug %}">edit&gt;</a></p>
	<br><hr>
	<div class="container-sub">
		<!-- see DEV-NOTES:01 -->
		<div class="div-article-title">
			<h2 class="art-title-adj">{{ article.title }}</h2>
			<h4>Written by: {{ article.author.username }} on {{ article.pub_date|date:'Y-m-d@H:i:s' }} | Last edited: <em>{{ article.last_mod|date:'Y-m-d@H:i:s' }}</em></h4>
		</div><br><br><br>

		<!-- see DEV-NOTES:02 -->
		<div class="div-art-image">
			<img class="article-image" src="{{ MEDIA_URL }}{{ article.image }}" alt="article-image" />
		</div>

		<!-- see DEV-NOTES:03 -->
		<div class="div-content">
			{% autoescape off %}
			<p>{{ article.content|linebreaks|escape }}</p>
			{% endautoescape %}
		</div>
	</div>
	{% else %}
	<h3>Article Unavailable</h3>
	<p class="p-art-unavail"><em>Sorry. This article [{{ article_slug }}] is not publicly viewable.</em></p>
	{% endif %}
</div>
{% endblock %}
