{% extends 'home/base.html' %}
{% load staticfiles %}

{# list of news articles #}

{% block title %}Mystek - News{% endblock %}

{% block local_meta %}
<meta name="keywords" content="software; news; updates; python; projects; programming; information; pygame; coders; writers; artists; musicians;">
{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 95%;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	/*.article-panel {
		width: 60%;
		height: auto;
		margin: 0 auto;
		float: top;
	}
	.panel-image {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
	}*/
	.article-main {
		margin: 0 auto;
		width: 70%;
		height: auto;
		border: 1px solid black;
	}
	.article-image-panel {
		margin: 0 auto;
		width: 100%;
		height: auto;
		float: top;
	}
	.article-image {
		max-width: 100%;
		max-height: 100%;
	}
	.article-title {
		margin: 0 auto;
		width: 100%;
		height: auto;
		float: top;
		text-align: left;
	}
	.article-content-brief {
		margin: 0 auto;
		width: 100%;
		height: auto;
		float: top;
		text-align: left;
	}
	./*article-panel {
		margin: 0 auto;
		width: 300px auto;
		height: 300px auto;
		float: top;
	}*/
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}


{# DEV_NOTE
01: articles will generate from here.
02:	if user is authenticated, allow for a small panel which leads to the
	write-article form
#}

{% block content %}
<br><br>
<div class="container-main">
	{% if logged_in %}
	<!-- DEV_NOTE:02 -->
	<!-- top div, which will allow for navigating to the write-article form -->
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right"><a href="{% url 'site_news:create_article' %}">Write an Article</a></li>
		</ul>
	</div>
	{% endif %}
	<br>
	<!-- DEV_NOTE:01 -->
	{% for article in articles %}
	<div class="article-main">
		<!-- div for article's image -->
		<div class="article-image-panel">
			<img class="article-image" src="{{ MEDIA_URL }}{{ article.image }}" alt="Article {{ article.id }} Image" />
		</div>

		<!-- div for the title and author info -->
		<div class="article-title-">
			<h3>
			<a href="{% url 'site_news:article_detail' slug=article.slug %}">
				{{ article.title }}
			</a> by {{ article.author.username }}</h3>
			<p>{{ article.pub_date|date:'Y-m-d@H:i:s' }}</p>
		</div>

		<!-- div for a brief exerpt from article -->
		<div class="article-content-brief">
			<p>{{ article.content|truncatewords:20 }}</p>
		</div>
	</div>
	<br><br>

	{% empty %}

	<br><br>
	<!-- oh crap, there's nothing here..... well, shoot. -->
	<h2>There are no articles at the moment! Check back later.</h2>
	{% if logged_in %}
	<br>
	<!-- hey, you! you're logged in; give us something to read -->
	<h3><a href="{% url 'site_news:create_article' %}">Write</a> an article.</h3>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}
