{% extends 'home/base.html' %}

{# the view to make a new news article #}

{% block title %}Mystek - Write News Article{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.create-news-article-form {
		margin: 0 auto;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #808080; /* gray */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container-main">
	<p style="text-align: left; padding: 0; margin: 0;"><a href="{% url 'site_news:index' %}">&lt;back</a></p>
	<hr>
	<h1><center>Write a News Article for Mystek</center></h1>
	<p><center>Is there anyting I can't say? See <a href="#">here</a> for restrictions on News Articles.</center></p>
	<form class="create-news-article-form" method="post" enctype="multipart/form-data">
		{% if edit_model %}
		<h2 style="color: red;">EDIT</h2>
		{% endif %}
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</div>
{% endblock %}