{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}MYSTEK{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="description" content="Mystek Lab, public facing web tool">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Rusty Shackleford">
	{% block local_meta %}{% endblock %}
	<style type="text/css">
	    * {
	        margin: 0;
	    }
		html {
			position: relative;
			min-height: 100%;
		}
		body {
			margin: 0 0 100px;
		}
		.nav-left {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
			position: fixed;
			top: 0;
			width: 100%;
		}
		.nav-item {
			float: left;
		}
		.nav-item a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		.nav-item a:hover {
			background-color: #111;
		}
		.base-footer {
			position: absolute;
			left: 0px;
			bottom: 0px;
			height: auto;
			width: 100%;
			overflow: hidden;
			background-color: #606060;
		}
		.color-light-blue {
			color: #CBCDE2;
		}
		.color-white-n-nerdy {
			color: #FFFFFF;
		}
	</style>
	{% block local_style %}{% endblock %}
	<!-- battleforthenet.com red alert banner -->
	<script src="https://redalert.battleforthenet.com/widget.js" async></script>
	{% block local_script %}{% endblock %}
</head>
<body class="body">
<nav>
	<ul class="nav-left">
		<li class="nav-item"><a href="{% url 'home:index' %}">Home</a></li>
		<li class="nav-item"><a href="{% url 'site_meta:site_about' %}">About</a></li>
		<li class="nav-item"><a href="{% url 'site_meta:site_proj' %}">Projects</a></li>
		<li class="nav-item"><a href="{% url 'site_news:index' %}">News</a></li>
		{% if logged_in %}
		<!-- USER is logged in, let them log out -->
		<li class="nav-item" style="float: right"><a href="{% url 'logout' %}">Logout</a></li>
		<li class="nav-item" style="float: right">
			<a href="{% url 'dashboard:index' %}">Dashboard</a>
		</li>
		{% else %}
		<!-- USER is not logged in, let them get in -->
		<li class="nav-item" style="float: right"><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</ul>
</nav>
{% block content %}{% endblock %}
<br><br><br>
<footer class="base-footer">
	<p class="color-light-blue">Mystek Lab&#169;, 2018</p>
	<br>
	<address class="color-white-n-nerdy">Reno, NV, 89502</address>
</footer>
</body>
</html>

<!-- MEOW :3 -->
