{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Mystek - Home{% endblock %}

{% block local_meta %}
<meta name="keywords" content="game development; programming; python; pygame; software; projects; coders; writers; artists; musicians; open source; startup; start up;">
{% endblock %}

{% block local_style %}
<style type="text/css">
	.image-banner {
		float: top;
		width: 100%;
		height: 90px;
	}
	.panel-top {
		/* make the top panel go on top :P */
		float: top;
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: #444;
		text-align: center;
	}
	.first-text {
		font-size: 200%;
		/* a darker light blue */
		color: #828CED;
	}
	.second-text {
		font-size: 18px;
		color: #999;
	}
	.second-text a {
		text-decoration: none;
		color: red;
	}
	.second-text a:hover {
		text-decoration: underline;
	}
	.bright {
		color: #CCCCCC;
	}
	.panel-leftmost {
		float: left;
		width: 30%;
		height: auto;
		padding-bottom: 100px;
	}
	.panel-left {
		float: left;
		width: 70%;
		height: auto;
		padding-bottom: 100px;
	}
	/* setup for news on homepage */
	.panel-main-news {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		border: 1px solid black;
	}
	.news-title {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
	}
	.news-img {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
	}
	.news-image {
		max-width: 100%;
		max-height: 100%;
	}
	.news-cnt {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
	}
	/* end news section; 2018-04-10 */
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}


{% block content %}
<br><br>
<div class="container-main">
	<!-- main content/homepage of https://mystek.net/ -->
	<!-- image div; top-space holder -->

	<!-- 2018/05/09; inserting battleforthenet.com banner; link to battleforthenet.com -->
	<a href="https://www.battleforthenet.com/"><img class="image-banner" src="{{ MEDIA_URL }}site-images/battleforthenet-red-900x90.png" alt="Gaming" height="auto" width="auto" /></a>
	<!-- END banner; -->
	
	<div class="panel-top" align="center">
		<h1 class="first-text">Mystekal adventures await...</h1>
		<!-- any new games / software in the future can be featured here; derp lightly -->
		<p class="second-text">Greetings, internet traveler; welcome to mystek.net! We are an aspiring software group, interested primarily in Game Development. We are currently working on <a href="{% url 'site_meta:site_proj' %}">Project Wyrd</a>, a 2D RPG coded in Python 3.5 (using PyGame); however, our ambition knows no bounds as we model our future programs around <a href="https://www.unrealengine.com/en-US/what-is-unreal-engine-4">Unreal Engine</a>.</p>

		<br>
		
		<p class="second-text">Now that introductions are finished, we have a question for <strong class="bright">you</strong>: Does this sound interesting to you? :3</p>

		<br>

		<p class="second-text">We are in need of <strong class="bright">Coders</strong> and <strong class="bright">Writers</strong> to help our project(s) reach fruition, as well as <em>artists</em> and <em>musicians</em>. If you're looking for a project to add to your portfolio, attempt to make a dent in the gaming sphere or just want to code or write with a team, we've got you covered! See <a href="https://drive.google.com/open?id=1p6Q9SQ9Y_6lWco0nIpTzflu_3pQB5MTQuNBGDFWRPdA">this Google Form</a> to submit an interest form to us, and we'll follow up with you!</p>

		<br>

		<p class="second-text">And if you're just passing through, we hope to see you around again for the release of our <em>first</em> project! Take care and game on. B)</p>
	</div>
	<div class="panel-leftmost">
		<!-- introduction -->
		<h2>News</h2>
		<!-- do stuff - news; updates; software; -->
		{% for n in news %}
			<div class="panel-main-news">
				<div class="news-title">
					<h3><a href="{% url 'site_news:article_detail' slug=n.slug %}">{{ n.title|truncatechars:20 }}</a></h3>
				</div>
				<div class="news-img">
					<img class="news-image" src="{{ MEDIA_URL }}{{ n.image }}" alt="Article {{ n.id }} image">
				</div>
				<div class="news-cnt">
					{{ n.content|truncatewords:20 }}
				</div>
			</div>
			<br>
			{% empty %}
			<p>Pretty empty in here.</p>
			{% endfor %}
	</div>
	<div class="panel-left">
		<h2>Games</h2>
		<ul>
			<!-- do mo' stuff - news; games; projects; software; -->
		</ul>
	</div>
</div>
{% endblock %}
