{% extends 'home/base.html' %}

{% block title %}Mystek - User - Change Password{% endblock %}

{% block local_style %}
<style type="text/css"></style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br><br>
	<h1 class="title">Change Password</h1>
	<form class="form-body" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Save Changes</button>
	</form>
</div>
{% endblock %}

