{% extends 'home/base.html' %}

{% block title %}Insufficient Perms{% endblock %}

{% block local_style %}
<style type="text/css">
	.center-image {
		margin: 0 auto;
		width: auto;
		height: auto;
	}
	.div-image {
		max-width: 100%;
		max-height: 100%;
	}
</style>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br><br>
	<div class="center-image">
		<img class="div-image" src="{{ MEDIA_URL }}site-images/blackjack-gofish.png" alt="Lead Dev" />
	</div>
	<h1>Insufficient Permissions</h1>
	<p>Unfortunately, you do not have <strong><em>add/del/alt</em></strong> permissions for this app.</p>
</div>
{% endblock %}

