{% extends 'home/base.html' %}

{% block title %}Mystek - Dashboard{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
		text-align: justify;
	}
	.article-nav {
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
		border: 1px solid black;
	}
	.art-nav-item {
	    /* width;
	    added to try to make the dashboard nav look better; 2018-04-12 */
	    width: 9%;
		display: block;
		color: white;
		text-align: justify;
		padding: 14px 16px;
		text-decoration: none;
		float: left;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.container-inner {
		width: 95%;
		height: auto;
		margin: 0 auto;
		padding-bottom: 100px;
	}
	.user-news-articles {
		width: 55%;
		height: auto;
		margin: 0 auto;
		float: left;
		background-color: #F5F5F5; /* white smoke */
	}
	.user-to-do {
		width: 45%;
		height: auto;
		margin: 0 auto;
		float: right;
		background-color:  #FFE4E1; /* misty rose */
	}
	.div-user-na-brf {
		margin: 0 auto;
		width: 95%;
		height: auto;
		background-color: #E6E6FA; /* lavender */
	}
	.article-title {
		margin: 0 auto;
		width: 100%;
		height: auto;
		text-align: left;
		background-color: #E6E6FA; /* lavender */
	}
	.article-cont-tr {
		margin: 0 auto;
		width: 100%;
		height: auto;
		text-align: left;
		background-color: #E6E6FA; /* lavender */
	}
	.div-user-td {
		margin: 0 auto;
		width: 95%;
		height: auto;
		background-color: #FFB6C1; /* light pink */
	}
	.todo-pub-date {
		margin: 0 auto;
		width: 100%
		height: auto;
		background-color: #FFB6C1; /* light pink */
	}
	.todo-content {
		margin: 0 auto;
		width: 100%;
		height: auto;
		background-color: #FFB6C1; /* light pink */
	}
	.todo-top-panel {
		margin: 0 auto;
		width: 100%;
		height: auto;
		text-align: center;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# https://mystek.com/dashboard/

DEV_NOTES:
preferred datetime display: Y-m-d@H:i:s # Year-month-day@Hour:minute:second

# DJANGO_NOTE
01: this will be a small list of news articles which the user has created
	max: 5 articles
02: this will be a small list of to-do notes, which can be written by a
	user to detail where they left off and what they need to do.
03:	NEEDED FUNCTIONALITY -- when in mystek.com/news/<slug>/, there needs to be an
	option for logged users to edit the news article
#}

{% block content %}
<div class="container-main">
	<br><br>
	{% if logged_in %}
	<!-- DEV_NOTE:02 -->
	<!-- top div, which will allow for navigating to the write-article form -->
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'dashboard:change_passw' %}">Change Password</a>
			</li>
		</ul>
		
		<!-- line items: left -> list view; right -> add new entry -->
		<ul class="article-nav">
			<li class="art-nav-item">
				<a href="{% url 'item:item_list' %}">Items&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'item:item_create' %}">Add</a>
			</li>
			<li class="art-nav-item">
				<span></span>
				<span>|</span>
				<span></span>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'keyitem:keyitem_list' %}">KeyItems&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'keyitem:keyitem_create' %}">Add</a>
			</li>
			<li class="art-nav-item">
				<span></span>
				<span>|</span>
				<span></span>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'armwep:armwep_list' %}">Armor &#47; Weapons&#58;</a>
				<li class="art-nav-item">
				<a href="{% url 'armwep:armwep_create' %}">Add</a>
			</li>
			</li>
		</ul>

		<!-- user console line 2 -->
		<ul class="article-nav">
			<li class="art-nav-item">
				<a href="{% url 'stateff:stateff_list' %}">Status Effect&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'stateff:stateff_create' %}">Add</a>
			</li>
			<li class="art-nav-item">
				<span></span>
				<span>|</span>
				<span></span>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'npc:npc_list' %}">NPC&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'npc:npc_create' %}">Add</a>
			</li>
			<li class="art-nav-item">
				<span></span>
				<span>|</span>
				<span></span>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'achiev:achiev_list' %}">Achievements&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'achiev:achiev_create' %}">Add</a>
			</li>
		</ul>

		<!-- user console line 3 -->
		<ul class="article-nav">
			<li class="art-nav-item">
				<a href="{% url 'dashboard:story_list' %}">Story&#58;</a>
			</li>
			<li class="art-nav-item">
				<a href="{% url 'dashboard:story_create' %}">
					Write a Page
				</a>
			</li>
			
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'site_news:create_article' %}">Write an Article</a>
			</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'site_news:index' %}">News Article&#58;</a>
			</li>
			
		</ul>
	</div>
	{% endif %}
	<br>
	<div class="container-inner">
		<!-- articles written by user -->
		<div class="user-news-articles">
			<!-- see DJANGO_NOTE:01 -->
			{% for article in news_articles %}
			<div class="div-user-na-brf">
				<div class="article-title">
					<!-- link to the article, for some quick review; also see DJANGO_NOTE:03 -->
					<a href="{% url 'site_news:article_detail' slug=article.slug %}">{{ article.title|truncatechars:80 }}</a> &raquo; {{ article.pub_date|date:'Y-m-d@H:i:s' }}
				</div>
				<div class="article-cont-tr">
					{{ article.content|truncatechars:200 }}
				</div>
			</div>
			<br>
			{% empty %}
			<h3>You haven't authored a news article yet.</h3>
			{% endfor %}
		</div>

		<!-- todo notes written by user -->
		<div class="user-to-do">
			<!-- see DJANGO_NOTE:02 -->
			<div class="todo-top-panel">
				To-Do Notes ----- <a href="{% url 'dashboard:todo_create' %}">+</a>
			</div>
			{% for todo in todos %}
			<div class="div-user-td">
				<div class="todo-pub-date">
					To Do: {{ todo.pub_date|date:'Y-m-d@H:i:s' }}
				</div>
				<div class="todo-content">
					{{ todo.content|linebreaks }}
				</div>
			</div>
			<br>
			{% empty %}
			<h5>No notes written, <a href="{% url 'dashboard:todo_create' %}">write</a> one?</h5>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
