{% extends 'home/base.html' %}

{% block title %}Mystek - Story List{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main	{
		width: 100%;
		height: 100%;
	}
	.container-sub {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.story-title {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-title-left {
		width: 75%;
		height: auto;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.div-title-right {
		width: 19%;
		height: auto;
		float: left;
	}
	.div-content {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-bt-meta {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		background-color: #EEA0FA; /* lavender */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV_NOTES

# DJANGO_NOTES

#}

{% block content %}
<div class="container-main">
	<!-- sub container, which will only go to 95% width -->
	<br><br><br>
	<p style="padding: 0; margin: 0;"><a href="{% url 'dashboard:story_list' %}">&lt;back</a></p>
	<hr>
	<div class="container-sub">
		<!-- title goes here -->
		<div class="story-title">
			<div class="div-title-left">
				<h1>{{ story.title }}</h1>
			</div>
			<div class="div-title-right">
				<p><strong>Chapter {{ story.chapter }}</strong></p>
				<p><strong>Published:</strong> <em>{{ story.pub_date|date:'Y-m-d@H:i:s' }}</em></p>
			</div>
		</div>
		<div class="div-content">
			<p>{{ story.content|linebreaks }}</p>
		</div>
		<div class="div-bt-meta">
			<p><strong>Last Modifed:</strong> <em>{{ story.last_mod|date:'Y-m-d@H:i:s' }}</em></p>
		</div>
	</div>
</div>
{% endblock %}
