{% extends 'home/base.html' %}

{% block title %}Mystek - To-Do Note - Create{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
	}
	.container-child {
		margin: 0 auto;
		width: 80%;
		height: auto;
	}
	.div-panel-title {
		width: 100%;
		height: auto;
	}
	.div-panel-content {
		width: 100%;
		height: auto;
	}
	.form-body {
		width: 95%;
		height: auto;
		margin: 0 auto;
		text-align: center;
		background-color: #808080; /* gray */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br><br>
	<div class="container-child">
		<div class="div-panel-title">
			<h1 class="panel-title">To-Do Note</h1>
		</div>
		<div class="div-panel-content">
			<form class="form-body" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
