{% extends 'home/base.html' %}

{% block title %}Mystek - {{ aw.name }}{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main	{
		width: 100%;
		height: 100%;
	}
	.container-sub {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.story-title {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-title-left {
		width: 75%;
		height: auto;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.div-title-right {
		width: 19%;
		height: auto;
		float: left;
	}
	.div-content {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-bin-master {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		border: 1px solid black;
		background-color: #E6E6FA; /* lavender */
	}
	.div-bin-panel {
		width: 49%;
		height: auto;
		margin: 0 auto;
		float: left;
		text-align: left;
		background-color: #E6E6FA; /* lavender */
	}
	.pos-val {
		font-size: 120%;
		background-color: #90EE90; /* light green */
	}
	.neg-val {
		font-size: 120%;
		background-color: #FFB6C1; /* light pink */
	}
	.zro-val {
		font-size: 120%;
		background-color: #D3D3D3; /* light gray */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV_NOTES

# DJANGO_NOTES

#}

{% block content %}
<div class="container-main">
	<!-- sub container, which will only go to 95% width -->
	<br><br><br>
	<div class="options">
		<p style="padding: 0; margin: 0; float: left;"><a href="{% url 'armwep:armwep_list' %}">&lt;back</a></p>
		<p style="padding: 0; margin: 0; float: right;"><a href="{% url 'armwep:armwep_edit' uid=aw.unique_id %}">edit&gt;</a></p>
	</div>
	<br>
	<hr>
	<div class="container-sub">
		<!-- title goes here -->
		<div class="story-title">
			<div class="div-title-left">
				<h1>{{ aw.name }}</h1>
			</div>
			<div class="div-title-right">
				<h2><em>{{ aw.unique_id }}</em></h2>
			</div>
		</div>
		<div class="div-content">
			<q><strong><em>{{ aw.in_game_description|linebreaks }}</em></strong></q>
			<br>
			<div class="div-bin-master">
				<div class="div-bin-panel">
					<p><strong>Item Type: <em>{{ aw.item_type }}.{{ aw.item_type2 }}</em></strong></p>
				</div>
				<div class="div-bin-panel">
					<p><strong>Target: <em>{{ aw.target }}.{{ aw.target2 }}</em></strong></p>
				</div>
			</div>
			<div class="div-bin-master">
				<div class="div-bin-panel">
					<p><strong>Item Drop Weight: <em>{{ aw.drop_weight }}&#47;1000</em></strong></p>
				</div>
				<div class="div-bin-panel">
					<p><strong>Buy Price: <em>{{ aw.buy_price }}</em></strong></p>
					<p><strong>Sell Price: <em>{{ aw.sell_price }}</em></strong></p>
				</div>
			</div>
			<div class="div-bin-master">
				<div class="div-bin-panel">
					<p><strong>Effect Value:</strong></p>
				</div>
				<div class="div-bin-panel {{ polar_var }}">
					<p>{{ aw.target }}.{{ aw.target2 }} {{ pol_sym }}{{ aw.effect_value }}</p>
				</div>
			</div>
			<div class="div-bin-master">
				{% if aw.status_effect %}
				<p><strong>Status Effect: <em>{{ aw.status_effect.name }}</em></strong>; Effect Type: {{ aw.status_effect.abst_type }}</p>
				}
				{% else %}
				<p><strong>Status Effect:</strong> <code>None</code>.</p>
				{% endif %}
			</div>
			<hr>
			<p>{{ aw.description|linebreaks }}</p>
		</div>
	</div>
</div>
{% endblock %}
