{% extends 'home/base.html' %}

{% block title %}Mystek - Armor &#47; Weapons:Help{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.page-title-box {
		margin: 0 auto;
		width: auto;
		height: 95%;
		float: top;
	}
	.div-info-panel {
		margin: 0 auto;
		width: 80%;
		height: auto;
		float: top;
		background-color: #87CEFA;

	}
	.div-panel-title .div-panel-img .div-panel-info {
		margin: 0 auto;
		width: 90%;
		height: auto;
		float: top;
		background-color: #87CEFA;
	}
	.panel-image {
		max-width: 100%;
		max-height: 100%;
	}
	.panel-header {
		text-align: center;
	}
	.p-lalign {
		text-align: left;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br>
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'armwep:armwep_create' %}">
					Create Armor &#47; Weapons
				</a>
			</li>
		</ul>
	</div>
	<div class="page-title-box">
		<h1 style="font-size: 300%;">Armor &#47; Weapons Help</h1>
	</div>
	<div class="div-info-panel" id="gen-name">
		<!-- for name -->
		<div class="div-panel-title">
			<h2 class="panel-header">Unique ID's</h2>
		</div>
		<div class="div-panel-info">
			<!-- basic info -->
			<p class="p-lalign">This (and other aspects) has been answered <a target="_blank" href="{% url 'achiev:achiev_help' %}#gen-uid">here&#x21D7;</a>. Check it out.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="item-types-and-targets">
		<div class="div-panel-title">
			<h2 class="panel-header">Item Type and Target</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-armwep-type12.png" alt="Item Type(s)" /></center>
		</div>
		<div class="div-panel-info">
			<h3>Item Types:</h3>
			<p class="p-lalign">Item types describe what the item is. Armor, weapons &#47; items all have this field. The item types correspond to the inventory categories in-game. There are several categories for each. They are:</p>
			<h4>Item Type 1</h4>
			<ul>
				<li><code>health</code> &#9; <em># all healing items</em></li>
				<li><code>weapon</code> &#9;<em># this category has sub-categories</em></li>
				<li><code>misc</code> &#9; <em># all items which are not health-related, such as ingredients, etc.</em></li>
				<li><code>armor</code> &#9; <em># this category has sub-categories</em></li>
				<li><code>keyitem</code> &#9; <em># all keyitems</em></li>
			</ul>
			<br>
			<h3>Item Type 2, if Weapon</h3>
			<ul>
				<li><code>sword</code> &#9; <em># sub-weapon; all swords</em></li>
				<li><code>hammer</code> &#9; <em>#sub-weapon; all hammer-like weapons</em></li>
				<li><code>bow-arrow</code> &#9; <em># sub-weapon; all bow-arrow weapons</em></li>
			</ul>
			<br>
			<h3>Item Type 2, if Armor</h3>
			<ul>
				<li><code>helm</code> &#9; <em># sub-armor; all helm-type armor</em></li>
				<li><code>body</code> &#9; <em>#sub-armor; all mid-body armor</em></li>
				<li><code>shield</code> &#9; <em>#sub-armor; all shields</em></li>
			</ul>
			<hr>
			<br>
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-items-itarg.png" alt="gen-itarg" /></center>
			<br>
			<h3>Item Targets:</h3>
			<p class="p-lalign">The Item Target(s) are the apsect of the Character which the item will affect. The <code>itype1</code> handles the "broad" target, while <code>itype2</code> handles the "spec" target. The categories are:</p>
			<h4>Item Target[1] (the "broad" target)</h4>
			<ul>
				<li><code>player</code> &#9; <em># broad target: the player character</em></li>
				<li><code>enemy</code> &#9; <em># broad target: the enemy character</em></li>
				<li><code>party</code> &#9; <em># broad target: any character in the player's party</em></li>
				<li><code>overworld</code> &#9; <em># broad target: affect the overworld, the "spec" targets are different from items which target Character objects</em></li>
			</ul>
			<br>
			<h4>Item Target[2] (the "spec" target)</h4>
			<ul>
				<li><code>hp</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects health points</em></li>
				<li><code>sp</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects stamina points</em></li>
				<li><code>ma</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects magic points</em></li>
				<li><code>thp</code> | applicable broad targets: [player, party] &#9; <em># item affects total health points</em></li>
				<li><code>tsp</code> | applicable broad targets: [player, party] &#9; <em># item affects total stamina points</em></li>
				<li><code>tma</code> | applicable broad targets: [player, party] &#9; <em># item affects total magic points</em></li>
				<li><code>atk</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects attack strength</em></li>
				<li><code>def</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects defense strength</em></li>
				<li><code>agl</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects agility</em></li>
				<li><code>dex</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects dexterity</em></li>
				<li><code>int</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects intelligence</em></li>
				<li><code>wil</code> | applicable broad targets: [player, enemy, party] &#9; <em># item affects will</em></li>
				<li><code>lvl</code> | applicable broad targets: [player, party] &#9; <em># item affects character Level</em></li>
				<li><code>sfx</code> | applicable broad targets: [player, party] &#9; <em># item affects status effects, all</em></li>
				<li><code>stat:&lt;status_effect:unique_id&gt;</code> | applicable broad targets: [player, party] &#9; <em>item affects specific status effect; example: <code>stat:0xB001</code></em></li>
				<li><code>enemy_F</code> | applicable broad targets: [overworld] &#9; <em># item affects the final boss of a level</em></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-dw">
		<div class="div-panel-title">
			<h2 class="panel-header">Drop Weight</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-armwep-dw1000.png" alt="Drop Weight" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">The drop weight of the item. Requires a value of 0-1000; the higher the value, the more likely an item is to drop for the player; the lower the value, the rarer the item.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-sv">
		<div class="div-panel-title">
			<h2 class="panel-header">Stat Value</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-armwep-sv.png" alt="Stat Value" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">The Stat Value is the number value which affects the "spec" target. Example, a value of 20 where targets are: player.hp, then the item will increase (current) HP by 20.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-stateff">
		<div class="div-panel-title">
			<h2 class="panel-header">Status Effects</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-armwep-seff.png" alt="Status Effect" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">Potential effects to attach to the item(s). Only 1 status effect can be attached per item.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-bpsp">
		<div class="div-panel-title">
			<h2 class="panel-header">Buying Price / Selling Price</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-armwep-bpsp.png" alt="gen BPSP" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">The buying price for the item and the selling price for the item. If the item isn't meant to be sold, set the price as <code>-1</code>.</p>
		</div>
	</div>
	<br>
</div>
{% endblock %}
