{% extends 'home/base.html' %}

{% block title %}Mystek - Armor &#47; Weapons List{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.obj-container {
		margin: 0 auto;
		width: 95%;
		height: 70px;
		float: top;
		background-color: #DCDCDC; /* gainsboro */
		border: 1px solid black;
	}
	.obj-sub-left {
		margin: 0 auto;
		width: 80%;
		height: auto;
		float: left;
		background-color: #DCDCDC; /* gainsboro */
	}
	.obj-sub-right {
		margin: 0 auto;
		width: 20%;
		height: auto;
		float: right;
		overflow: auto;
		overflow-y: auto;
		background-color: #DCDCDC; /* gainsboro */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV_NOTES

# DJANGO_NOTES

#}

{% block content %}
<div class="container-main">
	{% if logged_in %}
	<br><br>
	<!-- DEV_NOTE:02 -->
	<!-- top div, which will allow for navigating to the write-article form -->
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'armwep:armwep_create' %}">
					Create Armor&#47;Weapon
				</a>
			</li>
		</ul>
	</div>
	{% endif %}
	{% for aw in armweps %}
	<br>
	<div class="obj-container">
		<!-- 80% -->
		<div class="obj-sub-left">
			<h4>
				<!-- goto mystek.com/dashboard/story/<slug>/ -->
				<a href="{% url 'armwep:armwep_detail' uid=aw.unique_id %}">
					{{ aw.name }}
				</a>
			</h4>
			
		</div>
		<!-- 20% -->
		<div class="obj-sub-right">
			<h3><em>{{ aw.unique_id }}</em></h3>
		</div>
	</div>
	<br>
	{% empty %}
	<br><br>
	<h1>Hey! There are no Armor &#47; Weapons yet! :(</h1>
	<p>You can totally <a href="{% url 'armwep:armwep_create' %}">make</a> one, though. It's dangerous to go alone!</p>
	{% endfor %}
</div>
{% endblock %}
