{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Mystek - Projects{% endblock %}

{% block local_meta %}
<meta name="keywords" content="software; python; projects; programming; information; pygame; coders; writers; artists; musicians; apply; application; open position;">
{% endblock %}

{% block local_style %}
<style type="text/css">
	.image-banner-container {
		margin: 0 auto;
		float: top;
		background-color: rgba(255, 255, 255, 0.9); /* backgournd color translucence */
		width: 100%;
		height: 90px;
	}
	.image-banner {
		max-width: 100%;
		max-height: 100%;
	}
	.panel {
		margin: 0 auto;
		width: 80%;
		height: auto;
		background-color: #FAEBD7; /* antique white */
	}
	.div-header {
		margin: 0 auto;
		width: 80%;
		height: 100px;
		float: top;
		background-color: #F0FFFF; /* azure */
	}
	.proj-repr-img {
		width: 100px;
		height: 100px;
		/*border: 1px solid black;*/
		float: left;
	}
	.header-title {
		font-size: 200%;
		margin: 0 auto;
		text-align: center;
		overflow-y: auto;
		float: center;
	}
	.p-lalign {
		text-align: left;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DJANGO-NOTE 01:
Todo: create model which will host current/past projects
#}

{% block content %}
<br><br>
<!-- main content of https://mystek.com/ -->
<div class="container-main">
	<!-- image div; top-space holder -->
	<div class="image-banner-container">
		<!-- battleforthenet.com banner; link to the website -->
		<a href="https://www.battleforthenet.com/">
		<img class="image-banner" src="{{ MEDIA_URL }}site-images/battleforthenet-wht-900x90.png" alt="Gaming" height="auto" width="100%" />
		</a>
		<!-- END banner -->
	</div>
	<br>
	<div class="panel">
	<!-- see: DJANGO-NOTE 01 -->
		<br>
		<div class="div-header">
			<img class="proj-repr-img" src="{{ MEDIA_URL }}site-images/alcazar-segovia.jpg" alt="alcazar-segovia.jpg">
			<h3 class="header-title">Project Wyrd</h3>
		</div>
		<div class="panel-content">
			<h4><strong>What is Project Wyrd?</strong></h4>
			<p class="p-lalign">Project Wyrd is a video game, written in Python (3.5.X)/Pygame; "Wyrd" is the working title. It is a horror RPG, with a similar playstyle to <a href="https://en.wikipedia.org/wiki/Pok%C3%A9mon_(video_game_series)">Pokemon</a>, with a bit more emphasis on strategy.</p>

			<h4><strong>Gameplay?</strong></h4>
			<p class="p-lalign">Turn-based Strategy RPG. Recruitable party-members, strategic buffs/debuffs, hidden items, and more. Explore the world and find all the mysteries.</p>
			
			<h4><strong>Release Date?</strong></h4>
			<p class="p-lalign">Currently undetermined. This project is still in pre-development/writing phase.</p>
		</div>
	</div>
</div>
{% endblock %}
