{% extends 'home/base.html' %}

{% block title %}Mystek - About{% endblock %}

{% block local_style %}<style type="text/css"></style>{% endblock %}

{% block local_script %}<script type="text/javascript"></script>{% endblock %}

{% block content %}
<div>
	<!-- main about -->
</div>
{% endblock %}