{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Mystek - About{% endblock %}

{% block local_meta %}
<meta name="keywords" content="software; news; updates; python; projects; programming; information; pygame; coders; writers; artists; musicians; apply; application; open position;">
{% endblock %}

{% block local_style %}
<style type="text/css">
	/* local style script */
	.image-banner-container {
		margin: 0 auto;
		float: top;
		background-color: rgba(255, 255, 255, 0.9); /* backgournd color translucence */
		width: 100%;
		height: 90px;
	}
	.image-banner {
		max-width: 100%;
		max-height: 100%;
	}
	/*.image-banner {
		float: top;
		object-fit: cover;
		width: 100%;
		height: 400px;
	}*/
	.panel {
		margin: 0 auto;
		float: top;
		width: 95%;
		height: auto;
		text-align: center;
		background-color: #FFE4E1; /* misty rose */
	}
	.p-lalign {
		text-align: left;
	}
	.color-contr {
		color: #FF3300;
	}
	.team-sm-container {
		/* make it float in center of panel */
		float: center;
		width: 80%; /* take up only 60% of the div it lives in */
		height: auto;
		margin: 0 auto;
		background-color: #FFE4E1; /* misty rose */
		overflow: auto;
	}
	.div-lfloat {
		float: left;
		width: 49%;
		height: 100%;
		overflow-y: auto;
		margin: 0 auto;
		background-color: #F0F8FF; /* AliceBlue */
		border: 1px solid black;
	}
	.square {
		margin: 0 auto;
		background-color: #F0FFFF; /* Azure; old col: #CC99FF; */
		height: 200px;
		width: 100%;
	}
	.team-mem-pic {
		max-width: 100%;
		max-height: 100%;
	}
	.img-circle {
		border-radius: 50%;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}


{% block content %}
<br><br>
<div class="container-main">
	<!-- main content of the about page https://mystek.com/about/ -->
	<!-- image div; top-space holder -->
	<div class="image-banner-container">
		<!-- battleforthenet.com banner; link to the website -->
		<a href="https://www.battleforthenet.com/">
		<img class="image-banner" src="{{ MEDIA_URL }}site-images/battleforthenet-wht-900x90.png" alt="Gaming" height="auto" width="100%" />
		</a>
		<!-- END banner -->
	</div>
	<!-- line break -->
	<!-- the 'what is this place bro?' panel -->
	<div class="panel">
		<h3 class="color-contr"><strong>What is Mystek?</strong></h3>
		<p class="p-lalign">We are an up-and-coming, young buck, sonuvagun startup; we are focused on <strong>gaming</strong> and game making.</p>

		<p class="p-lalign">We are currently working on our first project to be released, <strong><em>Project Wyrd</em></strong>. News regarding projects can be viewed at <a href="{% url 'site_news:index' %}">News</a>.</p>
	</div>
	<br>
	<!-- basic team member info -->
	<div class="panel">
		<h3 class="color-contr">Mystek Team</h3>
		<div class="team-sm-container">
			<div class="div-lfloat">
				<!-- 125x125 image -->
				<div class="square">
					<img class="team-mem-pic img-circle" src="{{MEDIA_URL }}site-images/703936_f520.jpg" alt="Lead Designer" />
				</div>
				<!-- name -->
				<p><strong>Asrilou</strong></p>
				<!-- quote -->
				<q><strong><em>It's only Paranoia if you're wrong</em></strong></q>
				<!-- project related info -->
				<p class="p-lalign"><strong><em>Project Wyrd:</em></strong> Lead Writer, Lead Game Designer.</p>
				<!-- anecdotal info -->
				<p class="p-lalign"><strong>About:</strong> Gamer, Hardcore Geek, also caffeine addict</p>
			</div>
			<div class="div-lfloat">
				<!-- 125x125 image -->
				<div class="square">
					<img class="team-mem-pic img-circle" src="{{ MEDIA_URL }}site-images/blackjack-gofish.png" alt="Lead Dev" />
				</div>
				<!-- name -->
				<p><strong>DevPwny</strong></p>
				<!-- a quote... make it funny, I guess -->
				<q><strong><em>Coffee......</em></strong></q>
				<!-- project related info -->
				<p class="p-lalign"><strong><em>Project Wyrd:</em></strong> Lead Programmer, Game Designer.</p>
				<!-- anecdotal info -->
				<p class="p-lalign"><strong>About:</strong> Gamer, Pony enthusiast, caffeine addict.</p>
			</div>
		</div>
	</div>
	<br>
	<!-- someone wanna lend a hand? Pweeze? -->
	<div class="panel">
		<h3 class="color-contr"><strong>Inquire</strong></h3>
		<p class="p-lalign">Interested in Mystek? Want to help shape the future of the gaming sphere? (Dream big, kids!)</p>
		<p class="p-lalign">Then, today is your lucky day, we think. Come join the borg! You'll like being assimilated.</p>
		<p class="p-lalign">In all seriousness, we really <em>can</em> use the help. Unfortunately, <strong>we are not able to compensate work at the current time (for programmers)</strong>, we can only offer experience, exposure and fast times at Ridgemont High.</p>
		<p class="p-lalign">If that sounds bearable to you, we'll welcome you with open arms! <em>And tentacles</em>. Visit this <a href="https://drive.google.com/open?id=1p6Q9SQ9Y_6lWco0nIpTzflu_3pQB5MTQuNBGDFWRPdA">Google Doc</a> <em>(Ahh! Google, ew!)</em> to apply for a position (we're beggers and choosers).</p>
	</div>
</div>
{% endblock %}
