{% extends 'home/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Mystek - Home{% endblock %}

{% block local_style %}
<style type="text/css"></style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}


{% block content %}
<!-- main content of https://mystek.com/ -->
<div>
	<!-- image div; top-space holder -->
	<img src="{% static 'Reno-Nevada-Skyline.jpg" alt="Reno Skyline" height="300" width="500">
</div>
<div>
	<!-- introduction -->
	<p>Lorem</p>
</div>
{% endblock %}