{% extends 'home/base.html' %}

{% block title %}Mystek - Achievements:Help{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.div-logged-user-top {
		margin: 0 auto;
		float: top;
		width: 100%;
		height: auto;
	}
	.article-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #0000FF; /* blue */
		width: 100%;
		float: top;
	}
	.art-nav-item {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		margin: 0 auto;
		float: left;
		padding: 14px 16px;
	}
	.art-nav-item a {
		display: block;
		color: red;
		text-align: center;
		text-decoration: none;

	}
	.art-nav-item a:hover {
		background-color: #0000CC; /* darker blue */
	}
	.page-title-box {
		margin: 0 auto;
		width: auto;
		height: 95%;
		float: top;
	}
	.div-info-panel {
		margin: 0 auto;
		width: 80%;
		height: auto;
		float: top;
		background-color: #87CEFA;

	}
	.div-panel-title .div-panel-img .div-panel-info {
		margin: 0 auto;
		width: 90%;
		height: auto;
		float: top;
		background-color: #87CEFA;
	}
	.panel-image {
		max-width: 100%;
		max-height: 100%;
	}
	.panel-header {
		text-align: center;
	}
	.p-lalign {
		text-align: left;
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-main">
	<br><br>
	<div class="div-logged-user-top">
		<ul class="article-nav">
			<li class="art-nav-item">Hello, {{ user.username }}</li>
			<li class="art-nav-item" style="float: right">
				<a href="{% url 'achiev:achiev_create' %}">
					Create Achievement
				</a>
			</li>
		</ul>
	</div>
	<div class="page-title-box">
		<h1 style="font-size: 300%;">Achievements Help</h1>
	</div>
	<div class="div-info-panel" id="gen-name">
		<!-- for name -->
		<div class="div-panel-title">
			<h2 class="panel-header">Achievement: Name</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-achiev-name.png" alt="Achievement name" /></center>
		</div>
		<div class="div-panel-info">
			<!-- basic info -->
			<p class="p-lalign">The Achievement name is the displayed name in the game. Max Length is 100 characters.</p>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-uid">
		<div class="div-panel-title">
			<h2 class="panel-header">Achievement: Unique ID</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-achiev-uid.png" alt="generic Unique ID" /></center>
		</div>
		<div class="div-panel-info">
			<p class="p-lalign">The Unique ID is the primary identifier for <strong>all</strong> objects in the game. The Achievements are the <em>ONLY</em> items to have a different UID scheme compared to the other items.</p>
			<h3 class="p-lalign">Achievement UID's</h3>
			<p class="p-lalign">All Achievement UID's start with a capital <code>X</code>. It is 4 characters long (eg. <code>X001</code>), and is a simply an incrementing value, giving a total possible number of Achievements: 999. Max length is 4 characters. Examples:</p>
			<ul>
				<li><code>X001</code>, <code>X002</code>, ..., <code>X009</code></li>
				<li><code>X010</code>, <code>X011</code>, ..., <code>X099</code></li>
				<li><code>X100</code>, <code>X101</code>, ..., <code>X199</code></li>
			</ul>
			<h3 class="p-lalign">Other UID's</h3>
			<p>Other objects use Hexideicimal codes as their UID's. They must start with <code>0x</code>, and their next character correspons to their appropriate item type. Max length is 6 characters. Those item types are:</p>
			<ul>
				<li>Armor &#47; Weapons: 0xA--- # 4095 total possible items</li>
				<li>Item: 0x10-- # 255 total possible items</li>
				<li>KeyItem: 0x11-- # 255 total possible items</li>
				<li>NPC: 0xC--- # 4095 total possible items</li>
				<li>Status Effect: 0xB--- #4095 possible items</li>
			</ul>
			<p>Hexcodes go from: 0-F.</p>
			<ul>
				<li>0 - 9: 0-9 # same as decimal numbers</li>
				<li>10 - 15: A-F # 10 = A, 11 = B, and so on</li>
				<li>16 - 31: 10-1F # and so on and so forth</li>
			</ul>
		</div>
	</div>
	<br>
	<div class="div-info-panel" id="gen-igdesc">
		<div class="div-panel-title">
			<h2>In-Game Description</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-achiev-igd.png" alt="generic igdesc" /></center>
		</div>
		<div class="div-panel-info">
			<p>The In-Game Description is the text that will appear in-game to describe the item. Max length is 200 characters.</p>
		</div>
	</div>
	<div class="div-info-panel" id="gen-desc">
		<div class="div-panel-title">
			<h2>Description</h2>
		</div>
		<div class="div-panel-img">
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-achiev-desc.png" alt="Achievement description" /></center>
			<br>
			<center><img class="panel-image" src="{{ MEDIA_URL }}site-images/help/mystek-desc.png" alt="generic description" /></center>
		</div>
		<div class="div-panel-info">Author's/Programmer's description of item, including explanations, stats, etc. Max length is 300 characters. This description is for the benefit of the programmers, will not show up in-game.</div>
	</div>
</div>
{% endblock %}
