{% extends 'home/base.html' %}

{% block title %}Mystek - {{ achiev.name }}{% endblock %}

{% block local_style %}
<style type="text/css">
	.container-main	{
		width: 100%;
		height: 100%;
	}
	.container-sub {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.story-title {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
	.div-title-left {
		width: 75%;
		height: auto;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.div-title-right {
		width: 19%;
		height: auto;
		float: left;
	}
	.div-content {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: top;
		background-color: #E6E6FA; /* lavender */
	}
</style>
{% endblock %}

{% block local_script %}
<script type="text/javascript"></script>
{% endblock %}

{# DEV_NOTES

# DJANGO_NOTES

#}

{% block content %}
<div class="container-main">
	<!-- sub container, which will only go to 95% width -->
	<br><br><br>
	<div class="options">
	<p style="padding: 0; margin: 0; float: left;"><a href="{% url 'achiev:achiev_list' %}">&lt;back</a></p>
	<p style="padding: 0; margin: 0; float: right;"><a href="{% url 'achiev:achiev_edit' uid=achiev.unique_id %}">edit&gt;</a>
	</div>
	<br>
	<hr>
	<div class="container-sub">
		<!-- title goes here -->
		<div class="story-title">
			<div class="div-title-left">
				<h1>{{ achiev.name }}</h1>
			</div>
			<div class="div-title-right">
				<h2><em>{{ achiev.unique_id }}</em></h2>
			</div>
		</div>
		<div class="div-content">
			<q><strong><em>{{ achiev.in_game_description|linebreaks }}</em></strong></q>
			<hr>
			<p>{{ achiev.description|linebreaks }}</p>
		</div>
	</div>
</div>
{% endblock %}
